.container {
  display: grid;
  grid-template-rows: auto 1500px 150px;
  gap: 10px;
  border: solid 1px red;
  padding: 10px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

main {
  grid-area: main;
}

.main-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  grid-template-rows: 1fr 1fr;
  border: solid 1px #ccc;
  grid-template-areas:
    "income ratio"
    "expenditure graph";
}

.income,
.ratio,
.expenditure,
.graph {
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  box-sizing: border-box;
  margin: 10px;
  max-width: 1500px;
  min-width: 1000px;
}

a {
  text-decoration: none;
  color: white;
  background-color: transparent;
}

/* header */
header {
  z-index: 1;
  position: relative;
  grid-area: header;
}

.menu {
  position: relative;
}

.header-nav {
  display: flex;
  list-style: none;
}

.th {
  margin-left: 30px;
}

li > button {
  font-size: 1rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: white;
}

.header-nav > li {
  margin: auto 10px;
  padding: 5px 5px;
}

.header-nav > li:last-child {
  margin-right: 30px;
}

.active {
  background: white;
  color: #000;
}

/* income */
.income {
  grid-area: income;
  background-color: violet;
}

.income > div,
.expenditure > div {
  border: solid 1px black;
  border-radius: 50%;
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 50px;
}

/* .income > div .a,
.expenditure > div .a {
  font-size: 50px;
} */

.income > div .b,
.expenditure > div .b {
  font-size: 40px;
}

/* ratio */
.ratio {
  grid-area: ratio;
  background-color: aliceblue;
  flex-direction: column;
}

.ratio > p {
  font-size: 50px;
  float: inline-start;
}

/* expenditure */
.expenditure {
  grid-area: expenditure;
  background-color: beige;
}

/* graph */
.graph {
  grid-area: graph;
  background-color: #8ef0d7;
  flex-direction: column;
}

/* footer */
footer {
  grid-area: footer;
  background-color: orange;
}

.header-container {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.main-inner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.main-inner > div {
  width: 48%;
  height: 96%;
  margin: 2px;
  border: 1px solid #ccc;
  word-break: break-all;
}

/* calendar */
.list-container {
  width: 100%;
  height: 100%;
}

.react-calendar {
  width: 500px !important;
}

.react-calendar__navigation {
  background: bisque;
  border-bottom: 4px solid #d392f1dc;
  height: 90px;
  border-radius: 20px 20px 0 0;
}
span {
  font-size: 24px;
  font-weight: 600;
  color: #d392f1dc;
}

.react-calendar__navigation button:disabled {
  background-color: pink;
  border-radius: 20px 20px 0 0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: pink;
  border-radius: 20px 20px 0 0;
}

.react-calendar__tile {
  text-align: center;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
/*hover, focus, 선택됐을 시 */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus,
.react-calendar__tile--active {
  background: blue;
  border-radius: 14px;
}

.react-calendar__tile--now {
  background: lime;
  border-radius: 14px;
}
/*hover, focus 시 */
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: blue;
  border-radius: 14px;
}

.abbr {
  font-size: 18px;
  font-weight: 900;
}
