.container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  gap: 10px;
  grid-template-rows: auto 2fr 2fr 2fr 1fr;
  border: solid 1px #ccc;
}

body {
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: white;
}

.container > div {
  background-color: aliceblue;
}

.header {
  grid-column: 1 / -1;
  z-index: 1;
}

.header-container {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-nav {
  display: flex;
  list-style: none;

}

.th {
  margin-left: 30px;
}

button {
  font-size: 1rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: white;
}

.header-nav > li {
  margin: auto 10px;
  padding: 5px 5px;
}

.header-nav >li:last-child {
  margin-right: 30px;
}

.left-side {
  grid-column: 1 / span 1;
  grid-row: 2 / span 3;
}

.main {
  grid-column: 2 / span 3;
  grid-row: 2 / span 3;
}

.main-inner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.main-inner > div {
  width: 48%;
  height: 96%;
  margin: 2px;
  border: 1px solid #ccc;
  word-break: break-all;
}

.right-side {
  grid-column: -2 / span 1;
  grid-row: 2 / span 3;
}

.footer {
  grid-column: 1 / -1;
  grid-row: 5 / span 1;
}

.tmp {
  margin: 10px;
  height: 3000px;
  background-color: aqua;
}